<header>
  <!-- navbar -->
  <nav
    class="
      flex
      justify-between
      bg-white
      text-white
      w-screen
      shadow-lg
      border-b border-purple-700
      space-x-1
    "
  >
    <div class="px-5 xl:px-12 py-6 flex w-full items-center">
      <a class="text-3xl font-bold font-heading text-purple-700" href="/">
        <!-- <img class="h-9" src="logo.png" alt="logo"> -->
        E-Shop.
      </a>
      <!-- Nav Links -->
      <ul
        class="hidden md:flex px-4 mx-auto font-semibold font-heading space-x-3"
      >
        <li>
          <a class="<%= path==='/' ? 'navbar-active' : 'navlink' %>" href="/"
            >Home</a
          >
        </li>
        <li>
          <a
            class="<%= path==='/orders' ? 'navbar-active' : 'navlink' %>"
            href="/orders"
            >Orders</a
          >
        </li>
        <% if(isAuthenticated){ %>
        <li>
          <a
            class="
              <%=
              path==='/admin/add-product'
              ?
              'navbar-active'
              :
              'navlink'
              %>
            "
            href="/admin/add-product"
            >Add Product</a
          >
        </li>
        <% } %>
      </ul>
      <!-- Header Icons -->
      <div class="hidden xl:flex space-x-5 items-center">
        <% if(isAuthenticated){ %>
        <a
          class="flex items-center hover:text-purple-400 text-purple-700"
          href="/cart"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
            />
          </svg>
          <span class="flex absolute -mt-5 ml-4">
            <span
              class="
                animate-ping
                absolute
                inline-flex
                h-3
                w-3
                rounded-full
                bg-pink-400
                opacity-75
              "
            ></span>
            <span class="relative inline-flex rounded-full h-3 w-3 bg-pink-500">
            </span>
          </span>
        </a>
        <% } %>
        <!-- Sign In / Register      -->
        <% if(!isAuthenticated){ %>
        <a
          class="flex items-center hover:text-purple-400 text-purple-700"
          href="/login"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 hover:text-purple-400"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </a>
        <% } %> <% if(!isAuthenticated){ %>
        <a href="/register"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 text-purple-700"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z"
            /></svg
        ></a>
        <% } %> <% if(isAuthenticated){ %>
        <form action="/logout" method="post" class="flex items-center">
          <button type="submit" class="cursor-pointer" title="logout">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-purple-700"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
        </form>
        <% } %>
      </div>
    </div>
    <!-- Responsive navbar -->
    <a class="xl:hidden flex mr-6 items-center" href="#">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 hover:text-purple-400 text-purple-700"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
        />
      </svg>
      <span class="flex absolute -mt-5 ml-4">
        <span
          class="
            animate-ping
            absolute
            inline-flex
            h-3
            w-3
            rounded-full
            bg-pink-400
            opacity-75
          "
        ></span>
        <span class="relative inline-flex rounded-full h-3 w-3 bg-pink-500">
        </span>
      </span>
    </a>
    <a class="navbar-burger self-center mr-12 xl:hidden" href="#">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 hover:text-purple-400 text-purple-700"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        />
      </svg>
    </a>
  </nav>
</header>
